.title {
    width:100%;
    text-align: center;
    color:#333333;
}
div.classify {
    text-align: right;
    margin-bottom: 20px;
    font-size: 13px;
    color:#858585;
}
.articleContent {
    font-size: 16px;
    color:#4D4D4D;
    text-indent:2em;
}
.date {
    text-align: right;
    margin: 30;
}
.buttons{
    right:30px;
    text-align: right;
    margin-top: 20px;
}
